body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#header{
    background-color: midnightblue;
    color: white;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}
input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

button {
    background-color: midnightblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(55, 55, 192);
}

h2 {
    margin-top: 20px;
}

#result {
    font-size: 18px;
    color: #333;
}
